backend/.gradle/8.10.2/checksums/checksums.lock
backend/.gradle/8.10.2/checksums/md5-checksums.bin
backend/.gradle/8.10.2/checksums/sha1-checksums.bin
backend/.gradle/8.10.2/fileHashes/fileHashes.bin
backend/.gradle/8.10.2/fileHashes/fileHashes.lock
